page-login {

}
.txLogin {
  padding-left: 0;
  margin: 5px;
}
.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}
.loginContent {
  background: #04C582;
}
